
.carousel-item::before{
    content: "";
    background: rgba(19, 18, 18, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.carousel-item{
    width: 100%;
}
a .btn:active:focus{
    outline: none;
    box-shadow: none;
}
/*  ================ header section end ==================== */
#courses .card-body .card-title{
    font-size: 19px;
}
#courses .card-body .card-text{
    font-size: 14px;
    line-height: 18px;
}
/* ================== courses section end ============ */
