
.carousel-item::before{
    content: "";
    background: rgba(19, 18, 18, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.carousel-item{
    width: 100%;
}
a .btn:active:focus{
    outline: none;
    box-shadow: none;
}
section p, small{
    color: rgb(100, 98, 98);
}
/*  ================ header section end ==================== */
#courses .card-body .card-title{
    font-size: 19px;
}
#courses .card-body .card-text{
    font-size: 14px;
    line-height: 18px;
}
/* ================== courses section end ============ */
/* ===================== emplore working section end ========================= */
.register .btn{
    border: 1px solid gray;
    background-color: aliceblue;
    font-weight: 500;
}